In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns; sns.set()
import sys

# 0. Data preparation

In [ ]:
### PLEASE CHANGE THE WORKING/FILE DIRECTORY! THANK YOU
#Set the working directory
os.chdir('C:\\Users\\piotr\\OneDrive - Erasmus University Rotterdam\\Documents\\Github repositories\\Predictive-Analytics-in-Business\\Project 2\\')

In [ ]:
# # Step 1: Load the original Excel file
# file_path = 'crunchbase_data.xlsx'  # Replace with your file path

# # Step 2: Read each sheet into a separate DataFrame
# companies_df = pd.read_excel(file_path, sheet_name='Companies')
# rounds_df = pd.read_excel(file_path, sheet_name='Rounds')
# investments_df = pd.read_excel(file_path, sheet_name='Investments')
# acquisitions_df = pd.read_excel(file_path, sheet_name='Acquisitions')

# # Step 3: Save each DataFrame as a new Excel file
# companies_df.to_excel('Companies.xlsx', index=False)
# rounds_df.to_excel('Rounds.xlsx', index=False)
# investments_df.to_excel('Investments.xlsx', index=False)
# acquisitions_df.to_excel('Acquisitions.xlsx', index=False)

# Step 4: Loading the saved files (demonstration)
# You can load these files later as needed
df_org = pd.read_excel('Companies.xlsx')
df_rd = pd.read_excel('Rounds.xlsx')
df_inv = pd.read_excel('Investments.xlsx')
df_aq = pd.read_excel('Acquisitions.xlsx')

In [ ]:
# df_org = pd.read_excel('Companies.xlsx')

In [ ]:
#shapes of al;l dfs
print('Original dataframes')
print(df_org.shape)
print(df_rd.shape)
print(df_inv.shape)
print(df_aq.shape)

# 1. Data Cleaning

In [ ]:
# NA number in df_org
df_org.isna().sum()

In [ ]:
df_org

In [ ]:
#Drop na in df_org['founded at'] and print the number of observations
df_org_2 = df_org.dropna(subset=['founded_at'])
df_org_2.shape

In [ ]:
# NA in df_org_2
df_org_2.isna().sum()

In [ ]:
# Convert to datetime, set out-of-bounds dates to NaT
df_org_2['founded_at'] = pd.to_datetime(df_org_2['founded_at'], errors='coerce')

# Count the NaT values (which are the out-of-bounds dates)
nat_count = df_org_2['founded_at'].isna().sum()
print(f"Number of out-of-bounds dates: {nat_count}")

# Remove the rows with NaT values in 'founded_at'
df_org_2 = df_org_2.dropna(subset=['founded_at'])

In [ ]:

# df_org_3 column 
# df_org_2.dtypes

# Change founded_at to datetime
df_org_2['founded_at'] = pd.to_datetime(df_org_2['founded_at'])

In [ ]:
#Limit the data to 1990 onwards
df_org_3 = df_org_2[df_org_2['founded_at'] > '1990-01-01']

In [ ]:
df_org_3.shape

In [ ]:
# df_org_3 na count
df_org_3.isna().sum()

In [ ]:
#Describe the df_org_3 {'founded_at'}
df_org_3['founded_at'].describe()

In [ ]:
df_org = df_org_3.copy()

In [ ]:
# Get the shapes
print('Aquisitions: ', df_aq.shape)
print('Investments: ', df_inv.shape)
print('Organizations: ', df_org.shape)
print('Rounds: ', df_rd.shape)

### Cleaning

In [ ]:
# Clean column names - get rid of extra whitespaces
df_rd = df_rd.rename(columns=lambda x: x.strip())
df_aq = df_aq.rename(columns=lambda x: x.strip())
df_org = df_org.rename(columns=lambda x: x.strip())
df_inv = df_inv.rename(columns=lambda x: x.strip())

In [ ]:
# Convert the 'raised_amount_usd' column of df_inv to strings and then replace commas
df_inv['raised_amount_usd'] = df_inv['raised_amount_usd'].astype(str).str.replace(',', '')
# Convert the modified column to numeric
df_inv['raised_amount_usd'] = pd.to_numeric(df_inv['raised_amount_usd'], errors='coerce')

# Do the same for the 'raised_amount_usd' column of df_rd
df_rd['raised_amount_usd'] = df_rd['raised_amount_usd'].astype(str).str.replace(',', '')
df_rd['raised_amount_usd'] = pd.to_numeric(df_rd['raised_amount_usd'], errors='coerce')

# And for the 'price_amount' column of df_aq
df_aq['price_amount'] = df_aq['price_amount'].astype(str).str.replace(',', '')
df_aq['price_amount'] = pd.to_numeric(df_aq['price_amount'], errors='coerce')

In [ ]:
# Create variables on quarters/months 
df_inv['funded_month'] = df_inv['funded_month'].str[-2:]
df_inv['funded_quarter'] = df_inv['funded_quarter'].str[-2:]

df_aq['acquired_month'] = df_aq['acquired_month'].str[-2:]
df_aq['acquired_quarter'] = df_aq['acquired_quarter'].str[-2:]

df_rd['funded_month'] = df_rd['funded_month'].str[-2:]
df_rd['funded_quarter'] = df_rd['funded_quarter'].str[-2:]

In [ ]:
#Types of columns in df_org
df_org

In [ ]:
#Display types of columns and number of NA'
# df_org.dtypes
df_org.isna().sum()

In [ ]:
# Convert 'founded_at' to datetime, coerce out-of-bounds dates to NaT
df_org['founded_at'] = pd.to_datetime(df_org['founded_at'], format='%Y-%m-%d', errors='coerce')

# Count the number of NaT values (which are the out-of-bounds dates)
nat_count_org = df_org['founded_at'].isna().sum()
print(f"Number of out-of-bounds dates in df_org: {nat_count_org}")

# Remove the rows with NaT values in 'founded_at'
df_org = df_org.dropna(subset=['founded_at'])

# Repeat the process for other columns
df_inv['funded_year'] = pd.to_datetime(df_inv['funded_year'], format='%Y', errors='coerce')
nat_count_inv = df_inv['funded_year'].isna().sum()
print(f"Number of out-of-bounds dates in df_inv: {nat_count_inv}")
df_inv = df_inv.dropna(subset=['funded_year'])

df_aq['acquired_year'] = pd.to_datetime(df_aq['acquired_year'], format='%Y', errors='coerce')
nat_count_aq = df_aq['acquired_year'].isna().sum()
print(f"Number of out-of-bounds dates in df_aq: {nat_count_aq}")
df_aq = df_aq.dropna(subset=['acquired_year'])

In [ ]:
# Fix the datetime format
df_org['founded_at'] = pd.to_datetime(df_org['founded_at'], format = '%Y-%m-%d')
df_inv['funded_year'] = pd.to_datetime(df_inv['funded_year'], format='%Y')
df_aq['acquired_year'] = pd.to_datetime(df_aq['acquired_year'], format='%Y')

In [ ]:
# Now the conversion should work
df_aq['acquired_at']= pd.to_datetime(df_aq['acquired_at'], format = '%Y-%m-%d')

### Empty rows and duplicates

In [ ]:
# Get the shapes
print('Aquisitions: ', df_aq.shape)
print('Investments: ', df_inv.shape)
print('Organizations: ', df_org.shape)
print('Rounds: ', df_rd.shape)

In [ ]:
# Drop rows that are fully empty
df_aq.dropna(axis=0, how='all', inplace=True)
df_inv.dropna(axis=0, how='all', inplace=True)
df_org.dropna(axis=0, how='all', inplace=True)
df_rd.dropna(axis=0, how='all', inplace=True)

In [ ]:
# Get the shapes
print('Aquisitions: ', df_aq.shape)
print('Investments: ', df_inv.shape)
print('Organizations: ', df_org.shape)
print('Rounds: ', df_rd.shape)

In [ ]:
print('Fully duplicated rows')
print('AQ', df_aq.duplicated().sum())
print('INV', df_inv.duplicated().sum())
print('ORG', df_org.duplicated().sum())
print('RD', df_rd.duplicated().sum())

In [ ]:
# Getting rid of 58 full duplicates
df_aq.drop_duplicates(inplace=True)

## Imputing each dataset separately and merging

### Organizations dataset

In [ ]:
#Drop the missing value ['name'] in df_org
df_org.dropna(subset=['name'], inplace=True)

In [ ]:
df_org.isna().sum()

This is the base dataset that all of the other datasets will be merged to. For now we will take care of the missing variables for state code and market. Status will be filled in once we merge the organisations and acquisitions dataset.

In [ ]:
# checking for any missing variables for market, but which have a category list and imputing based on that
df_org[(df_org['market'].isna()) & (df_org['category_list'].notnull())]

In [ ]:
# we notice that the state code is missing for non-US countries so we impute that data in
df_org['state_code'].fillna('non-US', inplace = True)

### Rounds dataset

Since we are getting these datasets ready for merging, we subset it on the data that will be added to the organisations dataset. The other datapoints are already included in the organisations dataset.

In [ ]:
rounds_sub = ['company_permalink', 'funding_round_permalink', 'funding_round_type', 'funding_round_code', 'funded_at', 'funded_month', 'funded_quarter', 'funded_year', 'raised_amount_usd']
df_rd_sub = df_rd[rounds_sub]

In [ ]:
df_rd_sub.isna().sum()

In [ ]:
df_rd_sub['funded_at']

In [ ]:
# Or, Option 3: Coerce out-of-bounds dates to NaT
df_rd_sub['funded_at'] = pd.to_datetime(df_rd_sub['funded_at'], format='%Y-%m-%d', errors='coerce')

In [ ]:
df_rd_sub['funded_month'] = df_rd_sub['funded_at'].dt.month
df_rd_sub['funded_year'] = df_rd_sub['funded_at'].dt.year
df_rd_sub['funded_quarter'] = df_rd_sub['funded_at'].dt.quarter

In [ ]:
#filling in funding_round_code with the value unknown
df_rd_sub['funding_round_code'].fillna('Unknown', inplace = True)

#### First merge - organisations and rounds dataset

In [ ]:
# Merge
df_merge_1 = pd.merge(df_org, df_rd_sub, how='left', left_on='permalink', right_on='company_permalink')

# Remove duplicate column from the right table
df_merge_1.drop('company_permalink', axis=1, inplace=True)

In [ ]:
# converting the raised amount variable to numeric
df_merge_1['raised_amount_usd'] = pd.to_numeric(df_merge_1['raised_amount_usd'], errors = 'coerce')

In [ ]:
df_merge_1.shape

### Acquisitions dataset

Only a subset of these variable will be used for the modelling from the dataset as many are already included in the original organisation dataset (i.e. company information).

In [ ]:
acquisitions_sub = ['company_permalink', 'acquirer_permalink', 'acquirer_name', 'acquirer_category_list', 'acquirer_market', 
                    'acquirer_country_code', 'acquirer_state_code', 'acquirer_region', 'acquirer_city', 'acquired_at', 
                    'acquired_month', 'acquired_quarter', 'acquired_year', 'price_amount', 'price_currency_code']

df_aq_sub = df_aq[acquisitions_sub]

In [ ]:
df_aq_sub.isna().sum()

In [ ]:
# checking for any cases where the market information is missing but the category list info is not and using that to fill in the values
df_aq_sub[(df_aq_sub['acquirer_market'].isna()) & (df_aq_sub['acquirer_category_list'].notnull())]

We can fill in the few missing month/year/quarter values with the acquired date variable.

In [ ]:
# Fix the datetime format
df_aq_sub['acquired_month'] = df_aq_sub['acquired_at'].dt.month
df_aq_sub['acquired_year'] = df_aq_sub['acquired_at'].dt.year
df_aq_sub['acquired_quarter'] = df_aq_sub['acquired_at'].dt.quarter

The remaining missing values are filled with the term 'unknown'.

In [ ]:
df_aq_sub['acquirer_market'].fillna('Unknown', inplace = True)
df_aq_sub['acquirer_category_list'].fillna('Unknown', inplace = True)

#where the value is missing and the acquirer country code is not empty - should happen only for non-US countries
df_aq_sub['acquirer_state_code'] = np.where((df_aq_sub['acquirer_country_code'].notnull()) & 
                                            (df_aq_sub['acquirer_state_code'].isna()), 'non-US', df_aq_sub['acquirer_state_code'])
#fill the rest with unknown
df_aq_sub['acquirer_state_code'].fillna('Unknown', inplace = True)
df_aq_sub['acquirer_country_code'].fillna('Unknown', inplace = True)
df_aq_sub['acquirer_region'].fillna('Unknown', inplace = True)
df_aq_sub['acquirer_city'].fillna('Unknown', inplace = True)
df_aq_sub['price_currency_code'].fillna('Unknown', inplace = True)

#### Second merge - previous dataset and acquisitions

In [ ]:
df_merge_2 = pd.merge(df_merge_1, df_aq_sub, how = 'left', left_on = 'permalink', right_on = 'company_permalink')
df_merge_2.drop('company_permalink', axis = 1, inplace = True)

In [ ]:
df_merge_2.shape

In [ ]:
df_merge_1.shape

Comparing the number of rows between the two datasets, we see the number of rows increased slightly. This is because some companies have multiple acquirers.

In [ ]:
df_merge_2.isna().sum()

### Investments dataset

In [ ]:
inv_sub = ['funding_round_permalink', 'investor_permalink', 'investor_name', 
           'investor_country_code', 'investor_region', 'investor_city']
df_inv_sub = df_inv[inv_sub]

In [ ]:
df_inv_sub.isna().sum()

Based on the variables on display here, only two of the variables would be actually used in the final modelling phase - investor country code and investor region. Let's also check whether there are any cases where the city is known but the region is not.

In [ ]:
df_inv_sub[(df_inv_sub['investor_region'].isna()) & (df_inv_sub['investor_city'].notnull())]

It seems that is never the case. This means we can go ahead and drop the missing observations for investor country code and investor region, since these add no value.

In [ ]:
df_inv_sub.dropna(subset = ['investor_region'], axis = 0, inplace = True)

There are only a few missing values for investor city, which can again be filled by unknown.

In [ ]:
df_inv_sub['investor_city'].fillna('Unknown', inplace = True)

### Creating the final dataset

In [ ]:
df_full = pd.merge(df_merge_2, df_inv_sub, how = 'left', on = 'funding_round_permalink')

In [ ]:
df_full.shape

In [ ]:
# Fully empty rows at this point?
df_full.dropna(how='all', inplace=True)

In [ ]:
df_full.shape # none of the rows are fully empty now

In [ ]:
df_full.isna().sum()

#### Imptutation of the remaining missing variables in our merged dataset

In [ ]:
# if `raised_amount_usd`` is larger than 0 and `status` is n/a - fill with string "acquired"
df_full['status'] = np.where((df_full['acquirer_permalink'].notnull()) & (df_full['status'].isna()), 'acquired', df_full['status'])

# for the rest of the empty status - change to unknown
df_full['status'] = np.where(df_full['status'].isna(), 'Unknown', df_full['status'])

In [ ]:
#drop the 10 observations with a missing funding round permalink and other info
df_full.dropna(subset = ['funding_round_permalink'], axis = 0, inplace = True)

In [ ]:
# fill in the other modeling variables with none using regular expressions
import re

col_names = list(df_full.columns)
r = re.compile('acquirer\S+|investor\S+')
to_fill = list(filter(r.match, col_names))
to_fill

df_full[to_fill] = df_full[to_fill].fillna('None')

In [ ]:
df_full.isna().sum()

In [ ]:
# filling in the price information - the price amount where the acquirer information is missing is kept empty for now
df_full['price_currency_code'].fillna('None', inplace = True)
df_full['price_amount'] = np.where((df_full['acquired_at'].isna()) & (df_full['price_amount'].isna()), 0, df_full['price_amount'])

In [ ]:
# Drop empty rows that are left
df_full.dropna(how = 'all', inplace=True)

df_full.reset_index(inplace=True, drop=True)

In [ ]:
# What are we working with now in terms of observations and features?
df_full.shape

In [ ]:
for i, col in enumerate(df_full.columns):
    print(i, col)

In [ ]:
# #Drop NA from the merged data - columns: raised_amount_usd, funded_at, funded_month 
# df_reordered.dropna(subset=['raised_amount_usd', 'funded_at', 'funded_month'], inplace=True)

In [ ]:
df_full

In [ ]:
df_reordered.isna().sum()

In [ ]:
# reset index df_reordered
df_full.reset_index(drop=True, inplace=True)
df_full.to_csv('df_full.csv', index=False)

In [ ]:
# # reset index df_reordered
# df_reordered.reset_index(drop=True, inplace=True)

In [ ]:
# #Write csv df_reordered
# df_reordered.to_csv('df_reordered.csv', index=False)

# 2. Exploratory Data Analysis - Separate Data Sets

Key Insights from Exploratory Data Analysis:

ORGANIZATIONS & INVESTMENTS, GENERAL TRENDS FOR ALL DATA FRAMES:
	
COUNTRIES:

• Software has been the biggest market  in terms of number of start-ups funded.

• In the US, which is the biggest start-up market in the world by a great margin, most start-ups were founded in California, New York and Massachusetts.

MARKETS:

• Biotechnology sector has received the highest part of total financing over the years.

• TOP 10 markets have a great share in both: Number of start-ups founded and funding received.

FUNDING:

• Start-up funding is highly positively skewed. The amount of total funding received is varies from a few couple thousand USD to 5.7 bn USD.
 
• The level of start-up financing corresponded with the most significant macronomiceconomic events, such as dot-com bubble or the US financial crisis of 2008.

ROUNDS:
	
The mean raised amount has grown exponentially from round A to round H

In rounds that were classified as the following types:
	
Post IPO Debt

Secondary Market

Post IPO Equity

Private Equity

the mean raised amount was substantially higher than among other types.
	
ACQUISITIONS:

The mean acquisition price has decreased in the periods of economic downturn

Acquisition prices in the first quarter were much higher than in the other quarters

In [ ]:
pd.set_option('display.max_columns', None)

## 2.1 Organisations

In [ ]:
df_org.head(10)

### 2.1.1 Descriptive statistics

In [ ]:
df_org.describe()

### 2.1.2 Funding aquired by the startups

In [ ]:
#Histogram of total funding aquired by the startups

fig=plt.figure()
ax = fig.add_subplot(1,1,1)
ax.hist(df_org['funding_total_usd'], bins = 5000)
ax.set_xlim(left=0, right=200000000);

In [ ]:
#Histogram of total funding aquired by the startups - zoom on the values smaller than 50000000 (50 mln USD)

fig=plt.figure()
ax = fig.add_subplot(1,1,1)
ax.hist(df_org['funding_total_usd'], bins = 10000)
ax.set_xlim(left=0, right=50000000);

In [ ]:
#Histogram of total funding aquired by the startups - zoom on the values smaller than 10000000 (10 mln USD)

fig=plt.figure()
ax = fig.add_subplot(1,1,1)
ax.hist(df_org['funding_total_usd'], bins = 10000)
ax.set_xlim(left=0, right=10000000);

The distribution of the total funding aquired by the start-ups is highly positively skewed, with median 2.08 of million USD much lower than the mean value of 15.73 million USD. A significant 'long tail' can be observed, with startups receiving much more funding than the average - the maximal value of total funding received is equal to 5.7 bn USD. Most of the startups took part in one or two funding rounds.

#### Start-ups that aquired the most funding

In [ ]:
#Values of top 10 start-ups
top_10_startups = df_org.sort_values(by=['funding_total_usd'],ascending=False).head(10)
top_10_startups = top_10_startups.iloc[::-1]

#Create the bar plot
colors = plt.cm.get_cmap('Reds')(np.linspace(0, 1, len(top_10_startups)))
plt.barh(top_10_startups['name'], top_10_startups['funding_total_usd'], color=colors)
plt.xlabel('Funding (in billions USD)')
plt.ylabel('Startup')
plt.title('Top 10 Startups by total funding')
plt.show()

All the start-ups from the top 10 (in terms of total funding received) had raised funding exceeding 1 bn USD.

### 2.1.3 Status of the start-ups

In [ ]:
plt.rcParams['figure.figsize'] = 10,10
labels = df_org['status'].value_counts().index.tolist()
sizes = df_org['status'].value_counts().tolist()
explode = (0, 0, 0.2)
colors = ['#99ff99','#66b3ff','#ff9999']

plt.pie(sizes, explode=explode, labels=labels, colors=colors, autopct='%1.1f%%',
        shadow=False, startangle=30)
plt.axis('equal')
plt.tight_layout()
plt.title("What is start up companies current status", fontdict=None, position= [0.48,1], size = 'x-large')
plt.show()

It can be noted that the majority of start-ups are still operating (as for 2015), and more companies were acquired than suspended their operations.

### 2.1.4 The most common markets (industries)

In [ ]:
len(df_org['market'].unique())

In [ ]:
#Plot the 15 most common start-up market categories  
plt.rcParams['figure.figsize'] = 15,8
height = df_org['market'].value_counts()[:15].tolist()
bars =  df_org['market'].value_counts()[:15].index.tolist()
y_pos = np.arange(len(bars))
plt.bar(y_pos, height , width=0.7 ,color= ['c']+['paleturquoise']*14)
plt.xticks(y_pos, bars)
plt.xticks(rotation=90)
plt.title("15 most common start-up market categories", fontdict=None, position= [0.48,1.05], size = 'x-large')
plt.show()

In [ ]:
df_org['count'] = 1
country_market = df_org[['count','country_code','market']].groupby(['country_code','market']).agg({'count': 'sum'})
country_market_pct = country_market.groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))
country_market_pct.reset_index(inplace = True)

In [ ]:
USA_market_pct = country_market_pct[country_market_pct['country_code'] == "USA"]
USA_market_pct = USA_market_pct.sort_values('count',ascending = False)[0:10]

In [ ]:
## Plot the breakdown of start-up market categories in the USA
plt.rcParams['figure.figsize'] =10,10
labels = list(USA_market_pct['market'])+['Other...']
sizes = list(USA_market_pct['count'])+[100-USA_market_pct['count'].sum()]
explode = (0.18, 0.12, 0.09,0,0,0,0,0,0,0,0.01)
colors =  ['royalblue','mediumaquamarine','moccasin'] +['oldlace']*8

plt.pie(sizes, explode = explode, colors = colors ,labels=labels, autopct='%1.1f%%',
        shadow=False, startangle=30)
plt.axis('equal')
plt.tight_layout()
plt.title("USA start up market", fontdict=None, position= [0.48,1.1], size = 'x-large')

plt.show()

On the charts above, the most common market categories for the global market and the American market were provided. Most of the startups both globally and on the US market were operating on Software, Biotechnology and Mobile markets.

#### The most successful start-ups (in terms of total funding raised)

In [ ]:
df_top = df_org[df_org['status']=='closed']
df_top10_top = df_fail.sort_values(by=['funding_total_usd'], ascending=False).head(10)

plt.figure(figsize=(12, 6))
sns.barplot(x='name', y='funding_total_usd', data=df_top10_top, palette='rocket')
plt.title('10 closed start-ups with the highest total funding', fontsize=16)
plt.xlabel('Startup Name', fontsize=14)
plt.ylabel('Funding Total (USD)', fontsize=14)
plt.xticks(rotation=45, ha='right')
plt.show()

A great disproportion between groups of closed start-ups that aquired the most and the least fudning can be observed. The first group did not survive on the market despite the funding exceeding 100 million USD, whilst the second group acquired only a few thousand dollars in total.

### 2.1.5 Total start-up funding compared to different benchmarks

In [ ]:
#Extract the total funding of the well-known companies 
Facebook_total_funding = df_org['funding_total_usd'][df_org['name']=="Facebook"].values[0]
Uber_total_funding = df_org['funding_total_usd'][df_org['name']=="Uber"].values[0]
Alibaba_total_funding = df_org['funding_total_usd'][df_org['name']=="Alibaba"].values[0]
Cloudera_total_funding = df_org['funding_total_usd'][df_org['name']=="Cloudera"].values[0]

plt.rcParams['figure.figsize'] = 15,6
plt.hist(df_org['funding_total_usd'][(df_org['funding_total_usd'] >= 1000000000)].dropna(), bins=50,color = 'lightcyan' )
plt.ylabel('Count')
plt.xlabel('Funding (usd)')
plt.title("Where are the well-known companies ? ", fontdict=None, position= [0.48,1.05], size = 'x-large')

#Add the values the well-known companies benchmarks
plt.axvline(Facebook_total_funding,color='royalblue',linestyle ="--")
plt.text(Facebook_total_funding+15000000, 2.6,"Facebook")

plt.axvline(Uber_total_funding,color='black',linestyle ="--")
plt.text(Uber_total_funding+10000000, 2.2,"Uber")

plt.axvline(Cloudera_total_funding,color='dodgerblue',linestyle ="--")
plt.text(Cloudera_total_funding+10000000, 1.9,"Cloudera")

plt.axvline(Alibaba_total_funding,color='orange',linestyle ="--")
plt.text(Alibaba_total_funding+10000000, 1.6,"Alibaba")


plt.show()

Among the companies that received more than 1 bn USD total funding, the chosen well-known companies are not the leaders.  Facebook which is in the top 5 of companies that received the most funding, and Uber closes the top 10.

In [ ]:
#Change the type of 'founded_at' column
df_org['founded_at'] = pd.to_datetime(df_org['founded_at'])

### 2.1.6 When the companies were founded?

In [ ]:
df_org['founded_at'] = pd.to_datetime(df_org['founded_at'], errors = 'coerce' )

In [ ]:
plt.rcParams['figure.figsize'] = 15,6
df_org['name'].groupby(df_org["founded_at"].dt.year).count().plot(kind="line")

plt.ylabel('Count')
plt.title("Founded distribution ", fontdict=None, position= [0.48,1.05], size = 'x-large')
plt.show()

Number of star-ups funded was growing till early 2010s, when it reached a peak and drasticly declined. The most companies were founded in 2011 and 2012.

In [ ]:

market_counts = df_org.groupby([df_org["founded_at"].dt.year, "market"])["name"].count().unstack(fill_value=0)
top_10_markets = market_counts.sum().nlargest(10).index.tolist()

#Additional column will represent categories outside the top 10, market as "other
market_counts["Other"] = market_counts.sum(axis=1) - market_counts[top_10_markets].sum(axis=1)

top_10_counts = market_counts[top_10_markets].sum(axis=1)
other_counts = market_counts["Other"]

# Plot it as a bar chart
fig, ax = plt.subplots(figsize=(12, 6))
ax.bar(top_10_counts.index, top_10_counts, color="green", label="Top 10 Markets")
ax.bar(other_counts.index, other_counts, bottom=top_10_counts, color="gray", label="Other Markets")

#Labels and formatting
ax.set_xlabel("Year")
ax.set_ylabel("Number of Funded Startups")
ax.set_title("Funded Startups by Market Category and Year", fontdict={'fontsize': 20, 'fontweight': 'bold', 'verticalalignment': 'baseline'}, loc='center')
ax.legend()

plt.show()

It can be noted that the top 10 markets accound for a vast part of all start-ups count in a given year - in some years around to the half of all companies founded.

In [ ]:
market_counts = df_org.groupby([df_org["founded_at"].dt.year, "market"])["name"].count().unstack(fill_value=0)

top_10_markets = market_counts.sum().nlargest(10).index.tolist()

for market in top_10_markets:
    market_counts[market] = market_counts[market] if market in market_counts.columns else 0
market_counts["Other"] = market_counts.sum(axis=1) - market_counts[top_10_markets].sum(axis=1)

fig, ax = plt.subplots(figsize=(12, 6))

#Separate the top 10 market categories on the plot
market_colors = plt.get_cmap('tab10').colors
for i, market in enumerate(top_10_markets):
    ax.bar(market_counts.index, market_counts[market], bottom=market_counts[top_10_markets[:i]].sum(axis=1), color=market_colors[i], label=market)
ax.bar(market_counts.index, market_counts["Other"], bottom=market_counts[top_10_markets].sum(axis=1), color="gray", label="Other Markets")

# Labels and formatting
ax.set_xlabel("Year")
ax.set_ylabel("Number of Funded Startups")

ax.set_title("Funded Startups by Market Category and Year", fontdict={'fontsize': 20, 'fontweight': 'bold', 'verticalalignment': 'baseline'}, loc='center')

ax.legend()

plt.show()

By breaking down the top 10 industries, it can be observed that the share of Software and Biotechnology market has been very significant from late 1990's until 2014. From around 2005 till 2014 the number of start-ups founded and oriented on Mobile market has increased dynamicly.

#### How many companies were founded yearly given the economic events

In [ ]:
plt.rcParams['figure.figsize'] = 15,6
df_org['name'].groupby(df_org["founded_at"].dt.year).count().plot(kind="line")

plt.ylabel('Count')
plt.title("Number of companies founded in each year", fontdict=None, position= [0.48,1.05], size = 'x-large')
plt.axvline(2008,color='red')
plt.text(2008+0.15, 1600,"US Housing Crisis \n(2008)")
plt.axvline(2001,color='red')
plt.text(2001+0.15, 2000,"Dot Com Bubble \n(2001)")

plt.axvline(2014,color='red')
plt.text(2014+0.15, 2000,"Russo-Ukranian War \n(2014)")
plt.show()

As can be observed, all of the decline in number of start-ups founded happened at the same time as major global crises.

In [ ]:
Facebook_founded_year = df_org['founded_at'][df_org['name']=="Facebook"].dt.year.values[0]
Uber_founded_year  = df_org['founded_at'][df_org['name']=="Uber"].dt.year.values[0]
Alibaba_founded_year  = df_org['founded_at'][df_org['name']=="Alibaba"].dt.year.values[0]

In [ ]:
plt.rcParams['figure.figsize'] = 15,6
df_org['name'][df_org["founded_at"].dt.year >= 1990].groupby(df_org["founded_at"].dt.year).count().plot(kind="line")
plt.ylabel('Count')

plt.axvline(Facebook_founded_year,color='royalblue',linestyle ="--")
plt.text(Facebook_founded_year+0.15, 3000,"Facebook \n (2004)")

plt.axvline(Uber_founded_year,color='black',linestyle ="--")
plt.text(Uber_founded_year+0.15, 3500,"Uber \n(2009)")

plt.axvline(Alibaba_founded_year,color='orange',linestyle ="--")
plt.text(Alibaba_founded_year+0.15, 2000,"Alibaba \n(1999)")


plt.title("When were the well-known companies founded ?", fontdict=None, position= [0.48,1.05], size = 'x-large')
plt.show()

### 2.1.7 Analysis of funding distribution grouped on yearly basis

In [ ]:
df_org.groupby(df_org["founded_at"].dt.year)["funding_total_usd"].sum()

In [ ]:
#Group by year
funding_by_year = df_org.groupby(df_org["founded_at"].dt.year)["funding_total_usd"].sum()
count_by_year = df_org.groupby(df_org["founded_at"].dt.year)["name"].count()
fig, ax1 = plt.subplots(figsize=(15,6))
ax2 = ax1.twinx()

#Create a bar chart 
ax1.bar(funding_by_year.index, funding_by_year.values, color='royalblue', alpha=0.8)

#Labels and formatting
ax1.set_ylabel('Total Funding Amount (USD)')
ax2.plot(count_by_year.index, count_by_year.values, color='orange', alpha=0.8)
ax2.set_ylabel('Count of Startups Funded')
ax1.set_title('Total Funding Amount and Count of Startups Funded by Year')
ax1.set_xlabel('Year')
ax1.legend(['Total Funding Amount (USD)'], loc='upper left', bbox_to_anchor=(0, 1))
ax2.legend(['Count of Startups Funded'], loc='upper left', bbox_to_anchor=(0, 0.93))
plt.show()

It can be observed that the increase and decrease trends in the total amount of funding and count of start-ups go hand-in-hand. However, there seems to be a slight lagging in which the increase in total funding, is followed by an increase in the count a couple of years later. For example, the total funding reached its peak in 2007 whereas the count reached its peak in 2012.

In [ ]:
top_markets = df_org.groupby('market')['funding_total_usd'].sum().nlargest(5).index.tolist()
df_funding_by_year = df_org.groupby([df_org['founded_at'].dt.year, 'market'])['funding_total_usd'].sum().reset_index()
df_funding_by_year.loc[~df_funding_by_year['market'].isin(top_markets), 'market'] = 'Other'
df_funding_by_year = df_funding_by_year.groupby(['founded_at', 'market'])['funding_total_usd'].sum().unstack()
fig, ax = plt.subplots(figsize=(15,6))

# Plot it
df_funding_by_year.plot(kind='bar', stacked=True, ax=ax, alpha=0.8)
ax.set_ylabel('Total Funding Amount (USD)')

# Labels and formatiing
ax.set_title('Total Funding Amount by Year and Market Category')
ax.legend()
plt.show()

In [ ]:
# Top invested categories, can be compared with the graph above including the total number of startups
df_org.groupby('market').sum()['funding_total_usd'].sort_values(ascending=False).head()

### Funding by country analyses

In [ ]:
#Country
plt.figure(figsize=(20,5))
sns.countplot(x ='country_code', data = df_org, order=df_org['country_code'].value_counts().iloc[:8].index)
plt.xticks(rotation=45)
plt.show()

In [ ]:
plt.figure(figsize=(20,5))
g = sns.countplot(x ='state_code', data = df_org[(df_org['country_code'] =='USA')], order=df_org['state_code'].value_counts().iloc[:9].index)
plt.xticks(rotation=45)
plt.show()

The US is the country in which most start-ups are founded. California leads by a great margin compared to the other states in the US.

## 2.2 Rounds

In [ ]:
df_rd.head(10)

### 2.2.1 Descriptive statistics

Compared to the organisations data frame, the variable 'raised_amount_usd' has got lower mean. The observation count is higher by around 2.5 times compared to organisations data frame. The standard devation is around 25% higher than for the organisations data frame. The median is slighly lower, while the maximal value is around 2 times higher.

In [ ]:
df_rd.describe()

### 2.2.2 Funding aquired by the startups

The distribution of funding raised in a given round is a bit more skewed than the distribution of the toal funding, but the pattern is similar -  similar to a negative exponential distribution.

In [ ]:
#Similar histogram as for organisations

fig=plt.figure()
ax = fig.add_subplot(1,1,1)
ax.hist(df_rd['raised_amount_usd'], bins = 5000)
ax.set_xlim(left=0, right=200000000);

In [ ]:
#Histogram of total funding aquired by the startups - zoom on the values smaller than 50000000 (50 mln USD)

fig=plt.figure()
ax = fig.add_subplot(1,1,1)
ax.hist(df_rd['raised_amount_usd'], bins = 10000)
ax.set_xlim(left=0, right=50000000);

#### Start-ups that aquired the most funding

Verizon Communications, Sberbank and Chaler Communications received the most

In [ ]:
# sort the data 
top = df_rd.sort_values(by=['raised_amount_usd'],ascending=False).head(20)

# Bar plot - horizontal
plt.barh(top['company_name'], top['raised_amount_usd'], color='grey')
plt.xlabel('Funding (USD)')
plt.ylabel('Startup')
plt.title('Top 20 Startups by Funding')
plt.show()

### 2.2.3 The most common markets (industries)

In [ ]:
len(df_rd['company_market'].unique())

In [ ]:
plt.rcParams['figure.figsize'] = 15,8

height = df_rd['company_market'].value_counts()[:15].tolist()
bars =  df_rd['company_market'].value_counts()[:15].index.tolist()
y_pos = np.arange(len(bars))
plt.bar(y_pos, height , width=0.7 ,color= ['c']+['paleturquoise']*14)
plt.xticks(y_pos, bars)
plt.xticks(rotation=90)
plt.title("Top 15 Start-Up market category", fontdict=None, position= [0.48,1.05], size = 'x-large')
plt.show()

Compared to the total funding aquired, the biotechnology has got more funding than software. There are also other differences in the top categories. The values for each category are higher than in case of the organisation data frame.

In [ ]:
df_rd['count'] = 1
country_market = df_rd[['count','company_country_code','company_market']].groupby(['company_country_code','company_market']).agg({'count': 'sum'})
# Change: groupby state_office and divide by sum
country_market_pct = country_market.groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))
country_market_pct.reset_index(inplace = True)

In [ ]:
USA_market_pct = country_market_pct[country_market_pct['company_country_code'] == "USA"]
USA_market_pct = USA_market_pct.sort_values('count',ascending = False)[0:10]

In [ ]:
## USA
plt.rcParams['figure.figsize'] =10,10
labels = list(USA_market_pct['company_market'])+['Other...']
sizes = list(USA_market_pct['count'])+[100-USA_market_pct['count'].sum()]
explode = (0.18, 0.12, 0.09,0,0,0,0,0,0,0,0.01)
colors =  ['royalblue','mediumaquamarine','moccasin'] +['oldlace']*8

plt.pie(sizes, explode = explode, colors = colors ,labels=labels, autopct='%1.1f%%',
        shadow=False, startangle=30)
plt.axis('equal')
plt.tight_layout()
plt.title("USA start up market", fontdict=None, position= [0.48,1.1], size = 'x-large')

plt.show()

The breakdown of funding on the American market leads to similar conclusions as the previous chart, presenting the worldwide breakdown of funding. Compared to the part 2.1, the biotechnology has got a higher share than software, the organisations' data inidcated the opposite. Also Health Care is on 3rd place, whilst it was on 6th position at the respective chart made on basis of the organisations data.

### 2.2.4 Number of rounds by year and funding

In [ ]:

market_counts = df_rd.groupby([df_rd["funded_year"], "company_market"])["company_name"].count().unstack(fill_value=0)
top_10_markets = market_counts.sum().nlargest(10).index.tolist()

for market in top_10_markets:
    market_counts[market] = market_counts[market] if market in market_counts.columns else 0
market_counts["Other"] = market_counts.sum(axis=1) - market_counts[top_10_markets].sum(axis=1)

fig, ax = plt.subplots(figsize=(12, 6))

market_colors = plt.get_cmap('tab10').colors
for i, market in enumerate(top_10_markets):
    ax.bar(market_counts.index, market_counts[market], bottom=market_counts[top_10_markets[:i]].sum(axis=1), color=market_colors[i], label=market)
ax.bar(market_counts.index, market_counts["Other"], bottom=market_counts[top_10_markets].sum(axis=1), color="gray", label="Other Markets")


ax.set_xlabel("Year")
ax.set_ylabel("Number of Funded Startups")

ax.set_title("Funded Startups by Market Category and Year", fontdict={'fontsize': 20, 'fontweight': 'bold', 'verticalalignment': 'baseline'}, loc='center')
ax.set_xlim(left=1990)
ax.set_xlim(right=2015)

ax.legend()

plt.show()

Similar to the part 2.1, the Biotechnology, Software and Mobile are the main start-up markets.

In [ ]:
df_rd.groupby('company_market').sum()['raised_amount_usd'].sort_values(ascending=False).head()

### 2.2.5 Country Analyses

In [ ]:
#Country
plt.figure(figsize=(20,5))
sns.countplot(x ='company_country_code', data = df_rd, order=df_rd['company_country_code'].value_counts().iloc[:8].index)
plt.xticks(rotation=45)
plt.show()

In [ ]:
plt.figure(figsize=(20,5))
g = sns.countplot(x ='company_state_code', data = df_rd[(df_rd['company_country_code'] =='USA')], order=df_rd['company_state_code'].value_counts().iloc[:9].index)
plt.xticks(rotation=45)
plt.show()

Similar to part 2.1, the US is the country in which most start-ups are founded. California leads by a great margin compared to the other states in the US.

### 2.2.6 Funds raised depending on the round code and type

In [ ]:
sns.boxplot(x='funding_round_code', y='raised_amount_usd', data=df_rd)

plt.xlabel('Funding Round Code')
plt.ylabel('Raised Amount (USD)')
plt.title('Distribution of Raised Amount by Funding Round Code')
plt.show()

In [ ]:
#Group the data
grouped = df_rd.groupby('funding_round_code')['raised_amount_usd'].mean().reset_index()

##Create the plot
colors = plt.cm.Reds(np.linspace(0, 1, len(grouped)))
plt.bar(grouped['funding_round_code'], grouped['raised_amount_usd'], color=colors)

# Labels and formatting
plt.xlabel('Funding Round Code')
plt.ylabel('Mean Raised Amount (USD)')
plt.title('Mean Raised Amount by Funding Round Code')
plt.show()

The mean raised amount has grown exponentially from round A to round H.

#### Funding round types

In [ ]:
#Group the data
grouped = df_rd.groupby('funding_round_type')['raised_amount_usd'].mean().reset_index()

# Create the plot
colors = plt.cm.Reds(np.linspace(0, 1, len(grouped)))
fig = plt.figure(figsize=(30, 10)) 
ax = fig.add_subplot(111)
ax.bar(grouped['funding_round_type'], grouped['raised_amount_usd'], color=colors)

# Formatring and labels
ax.set_xlabel('Funding Round Type')
ax.set_ylabel('Mean Raised Amount (USD)')
ax.set_title('Mean Raised Amount by Funding Round Type')
plt.show()

In rounds that were classified as the following types:
	
Post IPO Debt

Secondary Market

Post IPO Equity

Private Equity

the mean raised amount was substantially higher than among other types.

## 2.3 Investments

In [ ]:
df_inv.head(10)

### 2.3.1 Descriptive statistics

In [ ]:
df_inv.describe()

### 2.3.2 Funding aquired by the startups

In [ ]:
#Histogram of total funding aquired by the startups - zoom on the values smaller than 50000000 (50 mln USD)

fig=plt.figure()
ax = fig.add_subplot(1,1,1)
ax.hist(df_inv['raised_amount_usd'], bins = 10000)
ax.set_xlim(left=0, right=50000000);

The distribution of the investments is similar to the distributions presented in parts 2.1 and 2.2. A slighly higher number of relatevely big investments can be observed.

### 2.3.3 Investments over time and by market category

In [ ]:
df_inv_1990 = df_inv[df_inv["funded_at"].dt.year >= 1990]
market_counts = df_inv_1990.groupby([df_inv_1990["funded_at"].dt.year, "company_market"])["company_name"].count().unstack(fill_value=0)
top_5_markets = market_counts.sum().nlargest(10).index.tolist()
market_counts["Other"] = market_counts.sum(axis=1) - market_counts[top_5_markets].sum(axis=1)
top_5_counts = market_counts[top_5_markets].sum(axis=1)
other_counts = market_counts["Other"]

# Create the plot
fig, ax = plt.subplots(figsize=(12, 6))
ax.bar(top_5_counts.index, top_5_counts, color="green", label="Top 10 Markets")
ax.bar(other_counts.index, other_counts, bottom=top_5_counts, color="gray", label="Other Markets")
ax.set_xlabel("Year")
ax.set_ylabel("Number of Funded Startups")
ax.set_title("Investments in Startups (Starting from 1990)", fontdict={'fontsize': 20, 'fontweight': 'bold', 'verticalalignment': 'baseline'}, loc='center')
ax.legend()
plt.show()

The trend corresponds to the observations made in the previous part dedicated to the funding rounds. After 2004 the number of investments has increased dynamically.

#### Different market categories

In [ ]:
plt.rcParams['figure.figsize'] = 15,8

height = df_inv['company_market'].value_counts()[:15].tolist()
bars =  df_inv['company_market'].value_counts()[:15].index.tolist()
y_pos = np.arange(len(bars))
plt.bar(y_pos, height , width=0.7 ,color= ['c']+['paleturquoise']*14)
plt.xticks(y_pos, bars)
plt.xticks(rotation=90)
plt.title("Top 15 Start-Up investments market ", fontdict=None, position= [0.48,1.05], size = 'x-large')
plt.show()

The top markets for investments are Software, Biotechnology and Mobile, as in the previous sections.

### 2.3.4 Investments by country

In [ ]:
#Country
plt.figure(figsize=(20,5))
sns.countplot(x ='company_country_code', data = df_inv, order=df_inv['company_country_code'].value_counts().iloc[:8].index)
plt.xticks(rotation=45)
plt.show()

In [ ]:
plt.figure(figsize=(20,5))
g = sns.countplot(x ='company_state_code', data = df_inv[(df_inv['company_country_code'] =='USA')], order=df_org['state_code'].value_counts().iloc[:9].index)
plt.xticks(rotation=45)
plt.show()

Similar to parts 2.1 and 2.2, the US is the country in which most start-ups are founded. California leads by a great margin compared to the other states in the US.

## 2.4 Acquisitions

In [ ]:
df_aq.head(10)

### 2.4.1 Descriptive statistics

In [ ]:
df_aq.describe()

### 2.4.2 Funding aquired by the startups

In [ ]:
#Runs long! - 60s
#Histogram of total funding aquired by the startups - zoom on the values smaller than 50000000 (50 mln USD)

fig=plt.figure()
ax = fig.add_subplot(1,1,1)
ax.hist(df_aq['price_amount'], bins = 20000)
ax.set_xlim(left=0, right=50000000);

### 2.4.3 Aquisitions over time and by market

Companies that were aquired, 5 top industries highlighted

In [ ]:
market_counts = df_aq.groupby([df_aq["acquired_at"].dt.year, "company_market"])["company_name"].count().unstack(fill_value=0)

top_10_markets = market_counts.sum().nlargest(5).index.tolist()

for market in top_10_markets:
    market_counts[market] = market_counts[market] if market in market_counts.columns else 0
market_counts["Other"] = market_counts.sum(axis=1) - market_counts[top_10_markets].sum(axis=1)

fig, ax = plt.subplots(figsize=(12, 6))

market_colors = plt.get_cmap('tab10').colors
for i, market in enumerate(top_10_markets):
    ax.bar(market_counts.index, market_counts[market], bottom=market_counts[top_10_markets[:i]].sum(axis=1), color=market_colors[i], label=market)
ax.bar(market_counts.index, market_counts["Other"], bottom=market_counts[top_10_markets].sum(axis=1), color="gray", label="Other Markets")

ax.set_xlim(left=1990, right=2015)

ax.set_xlabel("Year")
ax.set_ylabel("Number of Funded Startups")

ax.set_title("Acquired startups by Market Category and Year", fontdict={'fontsize': 20, 'fontweight': 'bold', 'verticalalignment': 'baseline'}, loc='center')

ax.legend()

plt.show()

Similar trends to previous sections can be observed - most acquired companies are from Software market, and the top 5 market consitutes a great part of all of the acquisitions.

In [ ]:
plt.rcParams['figure.figsize'] = 15,8

height = df_aq['acquirer_market'].value_counts()[:15].tolist()
bars =  df_aq['acquirer_market'].value_counts()[:15].index.tolist()
y_pos = np.arange(len(bars))
plt.bar(y_pos, height , width=0.7 ,color= ['c']+['paleturquoise']*14)
plt.xticks(y_pos, bars)
plt.xticks(rotation=90)
plt.title("Top 15 Start-Up market category", fontdict=None, position= [0.48,1.05], size = 'x-large')
plt.show()

Altough the trends observed on the graph above are similar to the previous sections, what is worth noting is that software companies are acquired significantly more often than others.

### 2.4.4 Acquisitions in different countries

In [ ]:
#Country
plt.figure(figsize=(20,5))
sns.countplot(x ='acquirer_country_code', data = df_aq, order=df_aq['acquirer_country_code'].value_counts().iloc[:8].index)
plt.xticks(rotation=45)
plt.show()

In [ ]:
plt.figure(figsize=(20,5))
g = sns.countplot(x ='acquirer_state_code', data = df_aq[(df_aq['acquirer_country_code'] =='USA')], order=df_org['state_code'].value_counts().iloc[:9].index)
plt.xticks(rotation=45)
plt.show()

Similar to parts 2.1 and 2.2, the US is the country in which most start-ups are founded. California leads by a great margin compared to the other states in the US.

### 2.4.5 Aquisitions over quarters

In [ ]:
df_aq['acquired_quarter'] = df_aq['acquired_quarter'].astype(str)

plt.scatter(df_aq['acquired_quarter'], df_aq['price_amount'])
plt.xlabel('Acquired Quarter')
plt.ylabel('Price Amount')
plt.title('Price Amount vs Acquired Quarter')
plt.show()

In [ ]:
sns.boxplot(x='acquired_quarter', y="price_amount", data=df_aq)
plt.xlabel('target price')
plt.title("target boxplot")

In [ ]:
df_aq.groupby(df_aq["acquired_quarter"])["price_amount"].mean()

As seen above, the transaction prices are quite similar in case of quarters 2-4, but in the first quarter the mean acquistion price is much higher.

In [ ]:
df_aq.groupby(df_aq["acquired_month"])["price_amount"].mean()

In [ ]:
month_order = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
sns.boxplot(x='acquired_month', y="price_amount", data=df_aq, order=month_order)
plt.xlabel('target price')
plt.title("target boxplot")
plt.show()

# 3. Exploratory Data Analysis - Merged Data Set (df_full)

In the previous section, the four data sets were analyzed individually. After that, the EDA on merged data was conducted (following the code below). Due to the problematic interpreatation of the merged data set (one company can be present in many rows) it was decided that this part is of less importance and should be regarded as an additional material.

So, the following section is quite similar to section 2 in regards to the data exploration. No significant differences important for understanding the data set and future feature engineering were noticed.

In [ ]:
#Take a look at the data:
df_full.info()

In [ ]:
df_full.head()

In [ ]:
df_full.shape

In [ ]:
#Total number of startups
len(df_full['name'].unique())

#### Change the data types and the notation

In [ ]:
#Change the format to avoid printing numbers in a scientific format
pd.options.display.float_format = '{:.2f}'.format

#### Descriptive statistics

In [ ]:
df_full.describe()

#### Correlation plot

In [ ]:
plt.figure(figsize=(25,15)) 
sns.heatmap(df_full.corr(),annot=True,cmap='cubehelix_r') 
plt.show()

#### Funding aquired by the startups

In [ ]:
#Histogram of total funding aquired by the startups

fig=plt.figure()
ax = fig.add_subplot(1,1,1)
ax.hist(df_full['funding_total_usd'], bins = 5000)
ax.set_xlim(left=0, right=200000000);

In [ ]:
#Histogram of total funding aquired by the startups - zoom on the values smaller than 50000000

fig=plt.figure()
ax = fig.add_subplot(1,1,1)
ax.hist(df_full['funding_total_usd'], bins = 10000)
ax.set_xlim(left=0, right=50000000);

#### Top startups

In [ ]:
pd.set_option('display.max_columns', None)

#### Status of the start-ups

In [ ]:
df_full['status'].value_counts()

#### Total funding by the market

In [ ]:
len(df_full['market'].unique())

In [ ]:
plt.rcParams['figure.figsize'] = 15,8

height = df_full['market'].value_counts()[:15].tolist()
bars =  df_full['market'].value_counts()[:15].index.tolist()
y_pos = np.arange(len(bars))
plt.bar(y_pos, height , width=0.7 ,color= ['c']+['paleturquoise']*14)
plt.xticks(y_pos, bars)
plt.xticks(rotation=90)
plt.title("Top 15 Start-Up market category", fontdict=None, position= [0.48,1.05], size = 'x-large')
plt.show()

In [ ]:
Facebook_total_funding = df_full['funding_total_usd'][df_full['name']=="Facebook"].values[0]
Uber_total_funding = df_full['funding_total_usd'][df_full['name']=="Uber"].values[0]
Alibaba_total_funding = df_full['funding_total_usd'][df_full['name']=="Alibaba"].values[0]
Cloudera_total_funding = df_full['funding_total_usd'][df_full['name']=="Cloudera"].values[0]

plt.rcParams['figure.figsize'] = 15,6

plt.hist(df_full['funding_total_usd'][(df_full['funding_total_usd'] >= 1000000000)&(df_full['funding_total_usd'] <= 3000000000)].dropna(), bins=30,color = 'lightcyan' )
plt.ylabel('Count')
plt.xlabel('Funding (usd)')
plt.title("Where are the well-known companies ? ", fontdict=None, position= [0.48,1.05], size = 'x-large')

plt.axvline(Facebook_total_funding,color='royalblue',linestyle ="--")
plt.text(Facebook_total_funding+15000000, 2.6,"Facebook")

plt.axvline(Uber_total_funding,color='black',linestyle ="--")
plt.text(Uber_total_funding+10000000, 2.2,"Uber")

plt.axvline(Cloudera_total_funding,color='dodgerblue',linestyle ="--")
plt.text(Cloudera_total_funding+10000000, 1.9,"Cloudera")

plt.axvline(Alibaba_total_funding,color='orange',linestyle ="--")
plt.text(Alibaba_total_funding+10000000, 1.6,"Alibaba")
#plt.ticklabel_format(style='plain')



plt.show()

#### How was the distribution of the funding given the economic events

In [ ]:
df_full['founded_at'] = pd.to_datetime(df_full['founded_at'])

In [ ]:
plt.rcParams['figure.figsize'] = 15,6
df_full['name'].groupby(df_full["founded_at"].dt.year).count().plot(kind="line")

plt.ylabel('Count')
plt.title("Founded distribution ", fontdict=None, position= [0.48,1.05], size = 'x-large')

plt.axvline(2008,color='red')
plt.text(2008+0.15, 6800,"US Housing Crisis \n(2008)")

plt.axvline(2001,color='red')
plt.text(2001+0.15, 2000,"Dot Com Bubble \n(2001)")

plt.axvline(2014,color='red')
plt.text(2014+0.15, 2000,"Russo Ukranian War \n(2014)")
plt.show()

### When the companies were founded?

In [ ]:
df_full['founded_at'] = pd.to_datetime(df_full['founded_at'], errors = 'coerce' )

In [ ]:
plt.rcParams['figure.figsize'] = 15,6
df_full['name'].groupby(df_full["founded_at"].dt.year).count().plot(kind="line")

plt.ylabel('Count')
plt.title("Founded distribution ", fontdict=None, position= [0.48,1.05], size = 'x-large')
plt.show()

In [ ]:
Facebook_founded_year = df_full['founded_at'][df_full['name']=="Facebook"].dt.year.values[0]
Uber_founded_year  = df_full['founded_at'][df_full['name']=="Uber"].dt.year.values[0]
Alibaba_founded_year  = df_full['founded_at'][df_full['name']=="Alibaba"].dt.year.values[0]

In [ ]:
plt.rcParams['figure.figsize'] = 15,6
df_full['name'][df_full["founded_at"].dt.year >= 1990].groupby(df_full["founded_at"].dt.year).count().plot(kind="line")
plt.ylabel('Count')

plt.axvline(Facebook_founded_year,color='royalblue',linestyle ="--")
plt.text(Facebook_founded_year+0.15, 3000,"Facebook \n (2004)")

plt.axvline(Uber_founded_year,color='black',linestyle ="--")
plt.text(Uber_founded_year+0.15, 4000,"Uber \n(2009)")

plt.axvline(Alibaba_founded_year,color='orange',linestyle ="--")
plt.text(Alibaba_founded_year+0.15, 2000,"Alibaba \n(1999)")


plt.title("When the well-known company found ?", fontdict=None, position= [0.48,1.05], size = 'x-large')
plt.show()

### The markets

In [ ]:
df_full['count'] = 1
country_market = df_full[['count','country_code','market']].groupby(['country_code','market']).agg({'count': 'sum'})
# Change: groupby state_office and divide by sum
country_market_pct = country_market.groupby(level=0).apply(lambda x:
                                                 100 * x / float(x.sum()))
country_market_pct.reset_index(inplace = True)

In [ ]:
USA_market_pct = country_market_pct[country_market_pct['country_code'] == "USA"]
USA_market_pct = USA_market_pct.sort_values('count',ascending = False)[0:10]

In [ ]:
## USA
plt.rcParams['figure.figsize'] =10,10
labels = list(USA_market_pct['market'])+['Other...']
sizes = list(USA_market_pct['count'])+[100-USA_market_pct['count'].sum()]
explode = (0.18, 0.12, 0.09,0,0,0,0,0,0,0,0.01)
colors =  ['royalblue','mediumaquamarine','moccasin'] +['oldlace']*8

plt.pie(sizes, explode = explode, colors = colors ,labels=labels, autopct='%1.1f%%',
        shadow=False, startangle=30)
plt.axis('equal')
plt.tight_layout()
plt.title("USA start up market", fontdict=None, position= [0.48,1.1], size = 'x-large')

plt.show()

### How much money

In [ ]:
#Create the df_grouped data frame which will be used for external data analysis
df_grouped = df_full.groupby(df_full["founded_at"].dt.year)["funding_total_usd"].sum()
df_grouped

In [ ]:
#Top invested categories, can be compared with the graph above including the total number of startups
df_full.groupby('market').sum()['funding_total_usd'].sort_values(ascending=False).head()

### Country Analyses

In [ ]:
#Country
plt.figure(figsize=(20,5))
sns.countplot(x ='country_code', data = df_full, order=df_full['country_code'].value_counts().iloc[:8].index)
plt.xticks(rotation=45)
plt.show()

In [ ]:
plt.figure(figsize=(20,5))
g = sns.countplot(x ='state_code', data = df_full[(df_full['country_code'] =='USA')], order=df_full['state_code'].value_counts().iloc[:9].index)
plt.xticks(rotation=45)
plt.show()

### Markets

In [ ]:
# fig,axes = plt.subplots(1,1,figsize=(20,5))
# sns.countplot(df_full.market, order = df_full.market.value_counts()[:20].index)
# plt.xticks(rotation = 50)
# plt.show()